## For loop

In [1]:
courses = ['python', 'java']

for c in courses:
    print(c)

python
java

In [3]:
for i in 'besant':
    print(i)

b
e
s
a
n
t

In [4]:
# break statement

for i in 'besant':
    print(i)
    
    if i=='a':
        break

b
e
s
a

In [5]:
courses = ['python', 'java', 'c', 'c++']

for c in courses:
    print(c)
    
    if c == 'c':
        break

python
java
c

In [6]:
# along with range

for x in range(5):
    print(x)

0
1
2
3
4

In [7]:
for x in range(11,16):
    print(x)

11
12
13
14
15

In [8]:
for x in range(0,31,3):
    print(x)

0
3
6
9
12
15
18
21
24
27
30

In [10]:
# nested loops
courses = ['python', 'java', 'c++']
hrs = [15,20,30]

for c in courses:
    for h in hrs:
        print(c,h)

python 15
python 20
python 30
java 15
java 20
java 30
c++ 15
c++ 20
c++ 30

In [11]:
# print first 10 natural numbers using for loop

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [15]:
# print all the even numbers in the range 11-20
for i in range(11,21):
    if i%2==0:
        print(i)

12
14
16
18
20

In [18]:
# print to calculate the sum of all numbers from 1 to a given number
# range (1-6) 1+2+3+4+5 = 15

total = 0

for i in range(1,6):
    total+=i
print(total)

15

In [19]:
total = 0

for i in range(1,6):
    total = total + i
print(total)

15

In [20]:
# print to calculate the sum of all the odd numbers between 1-16

In [21]:
# to print multiplication table of 6

In [22]:
# to check if the string is a palindrome

string = 'madam'
rev_str = ''

for i in string:
    rev_str = i + rev_str
    
if (string == rev_str):
    print('it is a palindrome')
else:
    print('it is not a palindrome')

it is a palindrome

In [23]:
# to check if the string is a palindrome

string = 'besant'
rev_str = ''

for i in string:
    rev_str = i + rev_str
    
if (string == rev_str):
    print('it is a palindrome')
else:
    print('it is not a palindrome')

it is not a palindrome

In [26]:
# print the factorial of the given number

num = 6
factorial = 1

for i in range(1,num+1):
    factorial = factorial*i
    
print(factorial)

720