## List (continuation)

In [1]:
courses = ['python', 'java', 'c++']

In [2]:
courses

['python', 'java', 'c++']

In [4]:
# loop thro a list

for x in courses:
    print(x)

python
java
c++

In [7]:
# using index

for x in range(len(courses)):
    print(courses[x])

python
java
c++

In [8]:
# using while loop

i = 0
while i < len(courses):
    print(courses[i])
    i= i+1

python
java
c++

In [9]:
# list comprehension
# for x in courses:
#   print(x)

[print(x) for x in courses]

python
java
c++

[None, None, None]

In [10]:
# sort - ascending

courses.sort()
print(courses)

['c++', 'java', 'python']

In [11]:
# sort - descending

courses.sort(reverse= True)
print(courses)

['python', 'java', 'c++']

In [13]:
# copy()
courses = ['python', 'java', 'c++']

lst = courses.copy()
lst

['python', 'java', 'c++']

In [14]:
# using list constructor

lst_1 = list(courses)
lst_1

['python', 'java', 'c++']

In [15]:
hrs = [24,30,18]
hrs

[24, 30, 18]

In [17]:
# to merge the list using + operator

plan = courses + hrs
plan

['python', 'java', 'c++', 24, 30, 18]

In [18]:
# extend()

courses.extend(hrs)
courses

['python', 'java', 'c++', 24, 30, 18]

In [19]:
courses = ['python', 'java', 'c++']
hrs = [24,30,18]

for x in hrs:
    courses.append(x)
    
print(courses)

['python', 'java', 'c++', 24, 30, 18]

## Tuples

- immutable
- enclosed within ( )
- ordered collection
- indexing works
- heterogeneous data types can be stored in the tuple
- allows duplicates

In [20]:
courses = ('python','c++','java')
print(courses)
print(type(courses))

('python', 'c++', 'java')
<class 'tuple'>

In [22]:
courses = ('python','c++','java', 'java')
print(courses)
print(type(courses))

('python', 'c++', 'java', 'java')
<class 'tuple'>

In [23]:
len(courses)

4

In [25]:
# to create a tuple with one item

tuple_1 = ("python")
print(type(tuple_1))

<class 'str'>

In [26]:
tuple_1 = (10)
print(type(tuple_1))

<class 'int'>

In [27]:

tuple_1 = ("python",)
print(type(tuple_1))

<class 'tuple'>

In [28]:
tuple_1 = (10,)
print(type(tuple_1))

<class 'tuple'>

In [29]:
tuple_1 = ('python', 17, 5.2, True)
print(type(tuple_1))

<class 'tuple'>

In [30]:
# tuple() constructor

tup = tuple(('python','java'))
type(tup)

tuple

In [32]:
# accessing tuple items using index

courses[1]

'c++'

In [34]:
courses[-1] #negative indexing

'java'

In [36]:
courses[1:]

('c++', 'java', 'java')

In [38]:
# checking whether we can change tuple values

courses[3] ='c'

TypeError: 'tuple' object does not support item assignment

In [39]:
courses.insert(3,'c')

AttributeError: 'tuple' object has no attribute 'insert'

In [40]:
# convert the tuple to a list and then update the values 

courses_list = list(courses)
type(courses_list)

list

In [41]:
courses_list

['python', 'c++', 'java', 'java']

In [42]:
courses_list[3] = 'c'

In [43]:
courses_list

['python', 'c++', 'java', 'c']

In [44]:
courses

('python', 'c++', 'java', 'java')

In [45]:
del courses # to delete the entire tuple

In [46]:
courses

NameError: name 'courses' is not defined

In [47]:
courses = ('python','c++','java')

In [48]:
for x in courses:
    print(x)

python
c++
java

In [49]:
hrs = (12,34,55)

tup_1 = courses + hrs
tup_1

('python', 'c++', 'java', 12, 34, 55)

In [ ]:
courses.

In [51]:
hrs_1 = hrs * 2
hrs_1

(12, 34, 55, 12, 34, 55)